@use '@/config/vars' as *;
@use '@/config/functions' as *;

.pagination {
	display: flex;
	gap: rem-calc(10px);

	.dot {
		width: rem-calc(6px);
		height: rem-calc(6px);
		border-radius: 50%;
		background-color: rgba($bg-secondary, 0.4);
		cursor: pointer;
		transition: all 0.4s;

		&--active {
			background-color: $text-primary;
		}
	}
}
